

@{
    //ViewBag.Title = "لوله بازکنی البرز";
    Layout = "~/Views/Home/Share_.cshtml";
}




@section body{




    <section class="category" id="products">

        <h1 class="heading"> لوله بازکنی در همه مناطق استان البرز </h1>
        <div class="row">
            <div class="column">
                <div class="card">
                    <h1 style="text-align:center;">کرج</h1>

                    <h2 style="text-align:center;border:2px solid black;background-color:#ffd800;"><a href="tel:09392920180">تماس</a></h2>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h1 style="text-align:center;">فردیس</h1>

                    <h2 style="text-align:center;border:2px solid black;background-color:#ffd800;"><a href="tel:09392920180">تماس</a></h2>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h1 style="text-align:center;">پردیس</h1>

                    <h2 style="text-align:center;border:2px solid black;background-color:#ffd800;"><a href="tel:09392920180">تماس</a></h2>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h1 style="text-align:center;">نظرآباد</h1>

                    <h2 style="text-align:center;border:2px solid black;background-color:#ffd800;"><a href="tel:09392920180">تماس</a></h2>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1 style="text-align:center;">محمدشهر</h1>

                    <h2 style="text-align:center;border:2px solid black;background-color:#ffd800;"><a href="tel:09392920180">تماس</a></h2>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1 style="text-align:center;">ماهدشت</h1>

                    <h2 style="text-align:center;border:2px solid black;background-color:#ffd800;"><a href="tel:09392920180">تماس</a></h2>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1 style="text-align:center;">مشکین دشت</h1>

                    <h2 style="text-align:center;border:2px solid black;background-color:#ffd800;"><a href="tel:09392920180">تماس</a></h2>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1 style="text-align:center;">هشتگرد</h1>

                    <h2 style="text-align:center;border:2px solid black;background-color:#ffd800;"><a href="tel:09392920180">تماس</a></h2>
                </div>
            </div>
        </div>



    </section>






   







    @*<section class="contact" id="contact">

            <h1 class="heading">اطلاعات تماس</h1>

            <div class="row">


                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21518.12517972794!2d48.41385172746139!3d36.70602391964966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ff6198b999580e1%3A0xf587f1700c17f964!2z2LTYsdqp2Kog2qnZhtiq2YjYsSDYs9in2LLbjCDYotio2LPYp9mG!5e0!3m2!1sfa!2snl!4v1649910605120!5m2!1sfa!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <form action="">
                    <div class="inputBox">

                        <label style="color:black;">آدرس: زنجان - شهرک صنعتی شماره یک - خیابان مرداد - نبش خیابان شهریور - پلاک 181</label>


                    </div>
                    <div class="inputBox">


                        <label style="color:black;"><span>تلفن:</span> <a href="tel://02432222122">02432222122</a></label>
                    </div>
                    <div class="inputBox">


                        <label style="color:black;"><span>ایمیل:</span> <a href="mailto:espinas1395@yahoo.com">espinas1395@yahoo.com</a></label>
                    </div>
                    <div class="inputBox">


                        <label style="color:black;"><span>وب سایت:</span> <a href="http://espinas-co.net/">www.Espinas-co.net</a></label>
                    </div>



                </form>

            </div>

        </section>*@

    <!-- contact section ends -->
    <!-- footer section starts  -->
}
@section footer{
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>خدمات ما</h3>

                <ul>
                    <li>رفع گرفتگی توالت فرنگی</li>
                    <li>رفع گرفتگی چاه اشپزخانه</li>
                    <li>تخلیه چاه</li>
                    <li>در آوردن اشیا ازچاه</li>
                    <li>رفع گرفتگی چاه حمام</li>


                </ul>

            </div>
            <div class="box">
                <h3>لوله بازکنی در البرز</h3>
                <a href="tel:09392920180">کرج</a>
                <a href="tel:09392920180">فردیس</a>
                <a href="tel:09392920180">پردیس</a>
                <a href="tel:09392920180">نظرآباد</a>
                <a href="tel:09392920180">محمدشهر</a>



            </div>
            <div class="box" style="margin-top:30px;">

                <a href="tel:09392920180">ماهدشت</a>
                <a href="tel:09392920180">مشکین دشت</a>
                <a href="tel:09392920180">هشتگرد</a>
                <a href="tel:09392920180">اشتهارد</a>
                <a href="tel:09392920180">گرمدره</a>
            </div>
            <div class="box">
                <a href="/Home/Tehran">تهران</a>
                <a href="/Home/Zanjan">زنجان</a>
                <a href="/Home/Alborz">البرز</a>
                <a href="/Home/Esfahan">اصفهان</a>


            </div>

        </div>

        <h4 class="credit">تولید و مدیریت  شرکت سِما</h4>

    </section>

}
